.drawer-container {
  height: 100vh;
  background-color: var(--light);
  }

mat-drawer-content {
  padding: 20px;
  // width: 80%;
}

mat-drawer {
  min-width: 300px;
}

.formPeriod {
  width: 250px;
}

::ng-deep .mat-form-field-infix {
  display: flex!important;
}

.button {
  background-color: #017ceb;
  color: var(--light);
}

.sidebarHeader {
  justify-content: space-between;
  align-items: center;
}


