.container {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: var(--light);
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
