<div class="mt-20">
  <p class="fs-14 fw-bold mb-15">Período de<span>{{ startDate | date: 'dd/MM/yy'  }}</span> até  <span>{{ endDate | date: 'dd/MM/yy' }}</span></p>
  <section class="cardSummary d-flex">
    <app-total-card [title]="'Transações'" [value]="summary.totalQuantity"></app-total-card>
    <app-total-card [title]="'Valor Bruto'" [value]="formatarComoMoeda(summary.totalAmount)"></app-total-card>
    <app-total-card [title]="'Valor líquido'" [value]="formatarComoMoeda(summary.netAmount)"></app-total-card>
  </section>
  <section class="d-flex boxGraph">
    <app-pie-chart [labels]="pieChartsValue.labels" [series]="pieChartsValue.series"></app-pie-chart>
    <!-- <app-column-chart [labels]="pieChartsValue.labels" [series]="pieChartsValue.series"></app-column-chart> -->
  </section>
  <section class="transaction-list">
    <h2 class="pt-15">Lista de transações</h2>
    <app-transaction-list></app-transaction-list>
  </section>
</div>
