.cardSummary {
  gap: 15px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.boxGraph {
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 40px;
}

::ng-deep  .mat-drawer {
  background-color: var(--light);
  padding: 15px;
}
::ng-deep .dark-theme .mat-drawer {
  background-color: var(--dark);
  padding: 15px;
  border: solid 1px #dedede;
}
