<div class="container mt-20 text-aling-center">
  <!-- <h1 class="fs-14">Relatório de 26 de Maio de 2021</h1> -->
  <div class="card d-flex justify-content-center mt-10">
  <mat-card class="card__body text-aling-center mr-20">
    <mat-card-title class="fs-14">Quantidade</mat-card-title>
    <mat-card-content class="fs-16 fw-bold">R$ 1546,00</mat-card-content>
  </mat-card>
  <mat-card class="card__body text-aling-center mr-20">
    <mat-card-title class="fs-14">Quantidade</mat-card-title>
    <mat-card-content class="fs-16 fw-bold">R$ 1546,00</mat-card-content>
  </mat-card>
  <mat-card class="card__body text-aling-center mr-20">
    <mat-card-title class="fs-14">Quantidade</mat-card-title>
    <mat-card-content class="fs-16 fw-bold">R$ 1546,00</mat-card-content>
  </mat-card>
  <mat-card class="card__body text-aling-center">
    <mat-card-title class="fs-14">Quantidade</mat-card-title>
    <mat-card-content class="fs-16 fw-bold">R$ 1546,00</mat-card-content>
  </mat-card>
</div>
</div>
